.catalog {
	padding-top: 3rem;
	padding-bottom: 4rem;

	&__list {
		margin: 0;
		margin-bottom: 2.5rem;
		padding: 0;
		list-style: none;
	}

	&__item {
		padding-top: 3rem;
		padding-bottom: 3rem;
		border-bottom: 1px solid #ededed;

		&:last-of-type {
			border-bottom: 0;
		}

		&.active {

			& .catalog__btn-more {

				& span {
					border-bottom-color: transparent;
				}

				&::before {
					top: 1rem;
					transform: rotate(180deg);
				}
			}
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__col-l {
		width: 28rem;

		@media only screen and (max-width: 768px) {
			margin-bottom: 2rem;
		}

		@media only screen and (max-width: 600px) {
			width: 100%;
		}
	}

	&__col-c {
		width: calc(100% - 28rem - 24.8rem);
		padding-left: 3rem;
		padding-right: 3rem;

		@media only screen and (max-width: 768px) {
			width: calc(100% - 28rem);
			margin-bottom: 2rem;
			padding-right: 0;
		}

		@media only screen and (max-width: 600px) {
			width: 100%;
			padding-left: 0;
		}
	}

	&__col-r {
		width: 24.8rem;
		text-align: right;

		@media only screen and (max-width: 768px) {
			width: 100%;
			text-align: left;
		}
	}

	&__image {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
	}

	&__name {
		display: block;
		margin-bottom: 1.1rem;
		font-size: 2.2rem;
		font-weight: 400;
	}

	&__description {
		margin-bottom: 1.1rem;

		& ul {
			margin: 0;
			padding: 0;
			list-style: none;

			& li {
				margin-bottom: 0.2rem;
				font-size: 1.5rem;

				& b {
					font-weight: 500;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	
	&__btn-more {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding-right: 1.8rem;
		font-size: 1.8rem;
		font-weight: 400;
		text-decoration: none;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 1.3rem;
			right: 0;
			transform: translateY(-50%);
			width: 1rem;
			height: 0.6rem;
			background: url("../images/icons/other/arrow-bottom-green-1.svg") no-repeat center center;
		}

		& span {
			padding-bottom: 0.5rem;
			border-bottom: 1px solid rgba(45, 169, 51, 0.4);
			transition: 0.2s;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	&__price {
		display: block;
		margin-bottom: 9.8rem;
		font-size: 2.4rem;
		font-weight: 400;

		@media only screen and (max-width: 768px) {
			margin-bottom: 2rem;
		}

		& span {
			font-size: 2rem;
			font-weight: 300;
		}
	}

	&__other-description {
		display: none;
		margin-top: 2rem;

		& :last-child {
			margin-bottom: 0;
		}

		& span {
			display: block;
			margin-bottom: 1.2rem;
			font-size: 1.8rem;
			font-weight: 500;
		}

		& ul {
			margin: 0;
			margin-bottom: 1.8rem;
			padding: 0;
			list-style: none;

			& li {
				margin-bottom: 0.2rem;
				font-size: 1.5rem;

				&:last-of-type {
					margin-bottom: 0;
				}

				& b {
					font-weight: 500;
				}
			}
		}
	}
}

.form-catalog {
	padding-bottom: 2.6rem;
	border-bottom: 1px solid #ededed;

	&__inner-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1.4rem;

		@media only screen and (max-width: 768px) {
			margin-bottom: 0;
		}
	}

	&__row {
		width: calc((100% - 3rem * 4) / 5);
		margin-right: 3rem;

		@media only screen and (max-width: 768px) {
			width: calc((100% - 2rem) / 2);
			margin-right: 2rem;
			margin-bottom: 2rem;
		}

		&:nth-of-type(5n) {
			margin-right: 0;

			@media only screen and (max-width: 768px) {
				margin-right: 2rem;
			}
		}

		&:nth-of-type(2n) {

			@media only screen and (max-width: 768px) {
				margin-right: 0;
			}
		}
	}

	&__result {
		display: block;
		font-size: 1.6rem;

		& b {
			font-weight: 400;
		}
	}

	&__entry {
		display: block;
		width: 100%;
		height: 4rem;
		margin: 0;
		padding: 0 1.8rem;
		border: 1px solid #bfbfbf;
		outline: 0;
		text-align: left;
		font-size: 1.6rem;
		color: #6e6e6e;
		font-family: $tf-1;
		background-color: #fff;
		border-radius: 0;
		box-shadow: none;
	}

	&__select {
		position: relative;
		background-color: #fff;

		& select {
			position: relative;
			z-index: 1;
			display: block;
			width: 100%;
			height: 4rem;
			margin: 0;
			padding: 0 1.8rem;
			padding-right: 4.4rem;
			border: 1px solid #bfbfbf;
			outline: 0;
			text-align: left;
			font-size: 1.6rem;
			color: #6e6e6e;
			font-family: $tf-1;
			border-radius: 0;
			box-shadow: none;
			background-color: transparent;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;

			&::-ms-expand {
				display: none;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 1.6rem;
			transform: translateY(-50%);
			width: 1.2rem;
			height: 0.8rem;
			background: url("../images/icons/other/arrow-bottom-gray-1.svg") no-repeat center center;
		}
	}
}