.footer {
	background-color: $bgc-1;
	color: #fff;

	&__row {
		display: flex;
		flex-wrap: wrap;
		padding-top: 3.2rem;
		padding-bottom: 3.2rem;

		@media only screen and (max-width: 768px) {
			display: block;
			text-align: center;
		}
	}

	&__col-l {
		width: 50%;

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin-bottom: 2rem;
		}
	}

	&__col-r {
		width: 50%;
		text-align: right;

		@media only screen and (max-width: 768px) {
			width: 100%;
			text-align: center;
		}
	}

	&__copyright {
		display: block;
		font-size: 1.4rem;
	}

	&__terms-of-use {
		padding-bottom: 0.5rem;
		color: #fff;
		font-size: 1.4rem;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: 0.2s;

		&:hover {
			border-bottom-color: rgba(255, 255, 255, 0.4);
		}
	}
}