.form {

	&_show-all-entries {

		& .form__hide {
			display: block;
		}
	}

	&__substrate {
		margin-left: -6rem;
		margin-right: -6rem;
		margin-bottom: 2rem;
		padding: 2.2rem 6rem;
		background-color: #f3f3f3;

		@media only screen and (max-width: 500px) {
			margin-left: -3rem;
			margin-right: -3rem;
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}

	&__title {
		display: block;
		margin-bottom: 1.6rem;
		font-size: 1.8rem;
		font-weight: 400;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0.4rem;

		& .form__row {
			width: calc((99.9% - 3rem) / 2);
			margin-right: 3rem;

			@media only screen and (max-width: 500px) {
				width: 100%;
				margin-right: 0;
			}

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}

	&__row {
		margin-bottom: 1.6rem;

		&_radio {
			margin-bottom: 0;

			&:last-of-type {
				margin-bottom: 0;
			}
			
			& .form__label {
				cursor: pointer;
			}

			& .form__entry {
				display: none;

				&:checked ~ .form__explanation {

					& i {

						&::before {
							display: block;
						}
					}
				}
			}
		}

		&_btn {
			margin-top: 0.8rem;
			margin-bottom: 1rem;
		}
	}

	&__label {
		display: inline-block;
		vertical-align: top;
	}

	&__explanation {
		position: relative;
		display: block;
		padding-left: 2.4rem;
		font-size: 2rem;

		@media only screen and (max-width: 500px) {
			font-size: 1.8rem;
		}

		& b {
			font-weight: 400;
		}

		& i {
			position: absolute;
			top: 0.6rem;
			left: 0;
			width: 14px;
			height: 14px;
			border: 1px solid #838383;
			border-radius: 50%;

			@media only screen and (max-width: 1044px) {
				top: 0.4rem;
			}

			@media only screen and (max-width: 768px) {
				top: 0.3rem;
			}

			@media only screen and (max-width: 500px) {
				top: 0.2rem;
				width: 12px;
				height: 12px;
			}

			&::before {
				display: none;
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 6px;
				height: 6px;
				background-color: $bgc-2;
				border-radius: 50%;

				@media only screen and (max-width: 500px) {
					width: 4px;
					height: 4px;
				}
			}
		}
	}

	&__entry {
		display: block;
		width: 100%;
		height: 4rem;
		margin: 0;
		padding: 0 1.8rem;
		border: 1px solid #bfbfbf;
		outline: 0;
		text-align: left;
		font-size: 1.6rem;
		color: #6e6e6e;
		font-family: $tf-1;
		background-color: #fff;
		border-radius: 0;
		box-shadow: none;
	}

	&__select {
		position: relative;
		background-color: #fff;

		& select {
			position: relative;
			z-index: 1;
			display: block;
			width: 100%;
			height: 4rem;
			margin: 0;
			padding: 0 1.8rem;
			padding-right: 4.4rem;
			border: 1px solid #bfbfbf;
			outline: 0;
			text-align: left;
			font-size: 1.6rem;
			color: #6e6e6e;
			font-family: $tf-1;
			border-radius: 0;
			box-shadow: none;
			background-color: transparent;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;

			&::-ms-expand {
				display: none;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 1.6rem;
			transform: translateY(-50%);
			width: 1.2rem;
			height: 0.8rem;
			background: url("../images/icons/other/arrow-bottom-gray-1.svg") no-repeat center center;
		}
	}

	&__agreement {
		display: block;
		font-size: 1.4rem;
		text-align: center;

		& a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__hide {
		display: none;
	}
}
