.primary {
	padding-bottom: 2rem;
	color: #fff;
	background: url("../images/man-1.png") no-repeat center bottom,
	$bgc-2 url("../images/backgrpund-primary-1.jpg") no-repeat center top;
	background-size: auto, cover;

	@media only screen and (max-width: 960px) {
		background: $bgc-2 url("../images/backgrpund-primary-1.jpg") no-repeat center top;
		background-size: cover;
	}

	&__title {
		margin: 0;
		margin-bottom: 6rem;
		text-align: center;
		font-size: 4.3rem;
		font-weight: 600;
		text-shadow: 0 1px 0.99px rgba(0, 74, 121, 0.6);

		@media only screen and (max-width: 960px) {
			font-size: 3.8rem;
		}

		@media only screen and (max-width: 800px) {
			font-size: 3rem;
		}
	}
}

.form-primary {
	max-width: 550px;
	margin: 0 auto;
	margin-left: 36.6rem;

	@media only screen and (max-width: 960px) {
		margin: 0 auto;
	}

	&__inner-wrapper {
		width: 100%;
		max-width: 42rem;
		margin: 0 auto;
		margin-bottom: 1.6rem;
		border-radius: 0.5rem;
		background-color: #fff;
		padding: 2.7rem 2rem 4rem;
		text-align: center;
	}

	&__title {
		margin: 0;
		margin-bottom: 2.4rem;
		font-size: 2.8rem;
		font-weight: 700;
		text-align: center;
		color: $tc-1;

		@media only screen and (max-width: 500px) {
			font-size: 2.4rem;
		}
	}

	&__city {
		margin-bottom: 3rem;
	}

	&__remark {
		max-width: 470px;
		margin: 0 auto;

		& p {
			margin: 0;
			margin-bottom: 2rem;
			text-align: center;
			font-size: 1.4rem;
			color: #a1c9e4;

			&:last-of-type {
				margin-bottom: 0;
			}
			
			& a {
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid rgba(255, 255, 255, 0.4);
				transition: 0.2s;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}
	}
}