.reviews {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;

		@media only screen and (max-width: 768px) {
			display: block;
		}
	}

	&__item {
		width: calc((99.9% - 8rem) / 2);
		margin-right: 8rem;
		margin-bottom: 5.4rem;

		@media only screen and (max-width: 768px) {
			width: 100%;
			max-width: 60rem;
			margin-left: auto;
			margin-right: auto;
		}

		&:nth-of-type(2n) {
			margin-right: 0;

			@media only screen and (max-width: 768px) {
				margin-right: auto;
			}
		}

		&::before {
			content: "";
			display: block;
			width: 3.4rem;
			height: 3rem;
			margin-bottom: 2rem;
			background: url("../images/icons/other/quotes-black-1.svg") no-repeat center center;
			opacity: 0.1;
		}
	}

	&__description {
		margin: 0;
		margin-bottom: 1.6rem;
		font-size: 1.6rem;
		line-height: 1.6;
		font-style: italic;
	}

	&__name {
		display: block;
		font-size: 1.8rem;
		font-weight: 400;
	}
}