.section {
	padding-top: 4.1rem;
	padding-bottom: 6rem;
	
	&_gray {
		background-color: #fafafa;
	}

	&_reviews {
		padding-bottom: 0.6rem;
	}

	&__separator {
		margin-bottom: 1.6rem;
	}
}

.btn-section {
	text-align: center;

	&__inner-wrapper {
		display: inline-block;
		vertical-align: top;
	}
}