html,
body {
	min-width: 100%;
	min-height: 100%;
}

html {
	font-size: 62.5%;

	@media only screen and (max-width: 1044px) {
		font-size: 57.5%;
	}

	@media only screen and (max-width: 768px) {
		font-size: 52.5%;
	}
}

body {
	color: $tc-1;
	font-weight: 300;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 1.25;
	font-family: $tf-1;
	background: #fff;
}

a {
	color: $tc-2;

	&:hover {
		text-decoration: none;
	}
}



/* Placeholder */
::-webkit-input-placeholder { color: $pc-1; opacity: 1; }
::-moz-placeholder          { color: $pc-1; opacity: 1; }
:-moz-placeholder           { color: $pc-1; opacity: 1; }
:-ms-input-placeholder      { color: $pc-1; opacity: 1; }
:placeholder-shown          { color: $pc-1; opacity: 1; }
/* Placeholder-END */



/* Selection */
::-moz-selection { background-color: $bgc-2; }
::selection      { background-color: $bgc-2; }
/* Selection-END */



/* Container */
.container {
	max-width: 1044px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
/* Container-END */