@font-face {
	font-family: "Geometria";
	src: url("../fonts/geometria-light.eot");
	src: url("../fonts/geometria-light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/geometria-light.woff2") format("woff2"),
	url("../fonts/geometria-light.woff") format("woff"),
	url("../fonts/geometria-light.ttf") format("truetype"),
	url("../fonts/geometria-light.svg#geometrialight") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("../fonts/geometria.eot");
	src: url("../fonts/geometria.eot?#iefix") format("embedded-opentype"),
	url("../fonts/geometria.woff2") format("woff2"),
	url("../fonts/geometria.woff") format("woff"),
	url("../fonts/geometria.ttf") format("truetype"),
	url("../fonts/geometria.svg#geometriaregular") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Geometria";
	src: url("../fonts/Geometria-Medium.eot");
	src: url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Geometria-Medium.woff2") format("woff2"),
	url("../fonts/Geometria-Medium.woff") format("woff"),
	url("../fonts/Geometria-Medium.ttf") format("truetype"),
	url("../fonts/Geometria-Medium.svg#Geometria-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
}